// custom.scss

//Variables
$primary: #23a6f0;
$secondary-1: #40bb15;
$secondary-2: #3c403d;
$text-color: #252b42;
$second-text-color: #737373;
$dark-background-color: #252b42;
$hover-color: #2a7cc7;
$disabled-element-color: #8ec2f2;
$muted-color: #bdbdbd;
$success-color: #2dc071;
$alert-color: #e77c40;
$danger-color: #e74040;
$light-gray-1: #fafafa;
$light-gray-2: #ececec;

$font-family-montserrat: "Montserrat", sans-serif;
$font-optical-sizing: auto;


* {
  font-family: $font-family-montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//Font
@mixin montserrat-font($weight) {
  font-family: $font-family-montserrat;
  font-optical-sizing: $font-optical-sizing;
  font-weight: $weight;
  font-style: normal;
}

.montserrat-thin {
  @include montserrat-font(100);
}

.montserrat-extralight {
  @include montserrat-font(200);
}

.montserrat-light {
  @include montserrat-font(300);
}

.montserrat-regular {
  @include montserrat-font(400);
}

.montserrat-medium {
  @include montserrat-font(500);
}

.montserrat-semibold {
  @include montserrat-font(600);
}

.montserrat-bold {
  @include montserrat-font(700);
}

.montserrat-extrabold {
  @include montserrat-font(800);
}

.montserrat-black {
  @include montserrat-font(900);
}

//desktop
@media (min-width: 576px) {

  .d-none-desktop {
    display: none !important;
  }

  /* nav */
  .nav-menu {
    padding: 16px 60px;
  }

  /* section1 */

  .hero-section-desktop {
    position: relative;
    background: linear-gradient(to right,
        #000000,
        rgba(0, 0, 0, 0.1)),
      url("./assets/section1/hero.jpg") no-repeat center center/cover;
    height: 670px;
    color: white;
  }

  /* section2 */

  /* section3 */

  /* section4 */

  /* section5 */
  #part4 {
    background-color: #252B42;
    color: white;
    padding: 10vh 0 5vh 0;
  }

  #part4 h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: 0.2px;
  }

  #part4 p {
    width: 33%;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.2px;
    margin-bottom: 10%;
  }

  #plans-container-desktop {
    padding-left: 10%;
    padding-right: 10%;
  }

  #free,
  #silver,
  #gold {
    background-color: white;
    color: black;
    width: 80%;
    margin-bottom: 7vh;
    border: 1px solid #23A6F0;
    border-radius: 10px;
  }

  #silver {
    position: relative;
  }

  #silver::before {
    content: url("./assets/Section05/circle-box\ xs-circle.png");
    position: absolute;
    top: -5%;
    right: 5%;
  }

  .custom-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
  }

  .custom-subtitle {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
  }

  .price {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #23A6F0;
  }

  .unit1 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #23A6F0;
  }

  .unit2 {
    font-weight: 600;
    font-size: 0.825rem;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #8EC2F2;
  }

  .conditions-box div {
    font-size: 0.825rem;
    line-height: 171%;
    letter-spacing: 0.2px;
  }

  .conditions-box img {
    vertical-align: middle;
  }

  .btn-container {
    width: 100%;
  }

  #btn-custom1,
  #btn-custom2,
  #btn-custom3 {
    background: #23A6F0;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.825rem;
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 5% 30%;
  }

  /* section6 */
  #part5 {
    background-image: url("./assets/Section06/background.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    color: black;
    padding: 15vh 30vh;
  }

  #appointment-form {
    width: 58%;
  }

  .custom-subtitle2 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
  }

  .custom-title2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
  }

  #name-mobile,
  #email-mobile {
    display: none;
  }

  #part5 input,
  #part5 select {
    height: 7vh;
    box-shadow: 0 0 1px 1px #E6E6E6;
    background-color: #F9F9F9;
  }

  #part5 textarea {
    box-shadow: 0 0 1px 1px #E6E6E6;
    background-color: #F9F9F9;
  }

  #part5 input::placeholder {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #737373;
  }

  #part5 textarea::placeholder,
  #part5 select,
  .select-option {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #BDBDBD;
  }

  #part5 input::placeholder,
  #part5 textarea::placeholder {
    padding-left: 3%;
  }

  #part5 select,
  .select-option {
    padding-left: 7%;
  }

  #part5 textarea::placeholder {
    padding-top: 3%;
  }

  #btn-custom4 {
    width: 36%;
    background: #23A6F0;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.825rem;
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 2.5% 0%;
  }

  /* footer */
  /* part6 */
  .part6-wrapper {
    width: 100%;
    padding: 0 14%;
  }

  .custom-title3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
    width: 100%;
  }

  .custom-subtitle3 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
    width: 80%;
  }

  #btn-custom5 {
    background: #23A6F0;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.825rem;
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 10%;
    width: 13vw;
    height: 8vh;
  }

  /* nav */
  #footer-nav {
    background-color: #252B42;
    color: white;
    padding: 0 14%;
    gap: 7%;
  }

  #footer-nav {
    padding-top: 7vh;
  }

  #footer-nav h4 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
  }

  #footer-nav span {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 171%;
    letter-spacing: 0.2px;
  }

  /* part7 */
  #part7 {
    background-color: white;
    color: #737373;
    padding-top: 3vh;
    padding-bottom: 5vh;
    padding: 0 15%;
  }

  #part7 p {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 171%;
    letter-spacing: 0.2px;
    padding: 3% 0 1% 0;
  }

  #sns {
    padding: 3% 4% 1% 4%;
  }

  #phone-mobile,
  #map-mobile,
  #mail-mobile,
  #fb-mobile,
  #insta-mobile,
  #x-mobile,
  #youtube-mobile,
  #address-detail {
    display: none;
  }
}



//mobile
@media (max-width: 575.999px) {

  .d-none-mobile {
    display: none !important;
  }

  /* navbar */
  .nav-menu {
    background-color: $dark-background-color;
    flex-direction: column;
    height: 532px;
    padding: 23px 35px;
    justify-content: space-around;
    position: relative;
  }

  .nav-mobile-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    /* 세로 정렬 */
    align-items: center;
    gap: 30px;
    /* 메뉴 항목 간 간격 */
    list-style: none;
    font-size: 30px;
    line-height: 45px;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 수평 및 수직 중앙으로 이동 */
  }

  .nav-mobile-toggle {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  /* section1 */
  .hero-section-mobile {
    position: relative;
    background: linear-gradient(to right,
        #000000,
        rgba(0, 0, 0, 0.1)),
      url("/assets/section1/hero.jpg") no-repeat center center/cover;
    height: 670px;
    color: white;
  }

  /* section2 */

  /* section3 */

  /* section4 */

  /* section5 */
  #part4 {
    background-color: #252B42;
    color: white;
    padding: 10vh 0 5vh 0;
  }

  #part4 h1 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 142%;
  }

  #part4 p {
    width: 66%;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 143%;
    margin-bottom: 15%;
  }

  #free,
  #silver,
  #gold {
    background-color: white;
    color: black;
    width: 80%;
    margin-bottom: 7vh;
    border: 1px solid #23A6F0;
    border-radius: 10px;

  }

  #silver {
    position: relative;
  }

  #silver::before {
    content: url("./assets/Section05/circle-box\ xs-circle.png");
    position: absolute;
    top: -5%;
    right: 5%;
  }

  .custom-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
  }

  .custom-subtitle {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
  }

  .price {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #23A6F0;
  }

  .unit1 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #23A6F0;
  }

  .unit2 {
    font-weight: 600;
    font-size: 0.825rem;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #8EC2F2;
  }

  .conditions-box div {
    font-size: 0.825rem;
    line-height: 171%;
    letter-spacing: 0.2px;
  }

  .conditions-box img {
    vertical-align: middle;
  }

  .btn-container {
    width: 100%;
  }

  #btn-custom1,
  #btn-custom2,
  #btn-custom3 {
    background: #23A6F0;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.825rem;
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 5% 30%;
  }

  /* section6 */
  #part5 {
    background-image: url("./assets/Section06/background.jpg");
    background-position: center;
    background-size: cover;
    background-color: white;
    color: black;
    padding: 15vh 0;
  }

  #appointment-form {
    width: 80%;
  }

  .custom-subtitle2 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-left: -3%;
  }

  .custom-title2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #252B42;
  }

  #name-desktop,
  #email-desktop {
    display: none;
  }

  #part5 input,
  #part5 select {
    height: 6.25vh;
    box-shadow: 0 0 1px 1px #BDBDBD;
  }

  #part5 textarea {
    box-shadow: 0 0 1px 1px #BDBDBD;
  }

  #part5 input::placeholder,
  #part5 textarea::placeholder,
  #part5 select,
  .select-option {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #BDBDBD;
  }

  #part5 input::placeholder,
  #part5 textarea::placeholder {
    padding-left: 3%;
  }

  #part5 select,
  .select-option {
    padding-left: 7%;
  }

  #part5 textarea::placeholder {
    padding-top: 3%;
  }

  #btn-custom4 {
    width: 100%;
    background: #23A6F0;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.825rem;
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 5% 0%;
  }

  /* footer */
  /* part6 */
  .part6-wrapper {
    width: 100%;
    padding: 0 15%;
  }

  .custom-title3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
    width: 100%;
  }

  .custom-subtitle3 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #252B42;
    width: 80%;
  }

  #btn-custom5 {
    background: #23A6F0;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.825rem;
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 5% 10%;
  }

  /* nav */
  #footer-nav,
  #part7 {
    background-color: #252B42;
    color: white;
    padding: 0 15%;
  }

  #footer-nav {
    padding-top: 7vh;
  }

  #footer-nav h4 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
  }

  #footer-nav span {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 171%;
    letter-spacing: 0.2px;
  }

  #phone-desktop,
  #map-desktop,
  #mail-desktop,
  #address-detail,
  #fb-desktop,
  #insta-desktop,
  #x-desktop {
    display: none;
  }

  /* part7 */
  #part7 {
    padding-top: 3vh;
    padding-bottom: 5vh;
  }

  #part7 p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 171%;
    letter-spacing: 0.2px;
  }
}

@import "node_modules/bootstrap/scss/bootstrap";