// custom.scss

//Variables
$primary: #23a6f0;
$secondary-1: #40bb15;
$secondary-2: #3c403d;
$text-color: #252b42;
$second-text-color: #737373;
$dark-background-color: #252b42;
$hover-color: #2a7cc7;
$disabled-element-color: #8ec2f2;
$muted-color: #bdbdbd;
$success-color: #2dc071;
$alert-color: #e77c40;
$danger-color: #e74040;
$light-gray-1: #fafafa;
$light-gray-2: #ececec;

$font-family-montserrat: "Montserrat", sans-serif;
$font-optical-sizing: auto;

* {
  font-family: $font-family-montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//Font
@mixin montserrat-font($weight) {
  font-family: $font-family-montserrat;
  font-optical-sizing: $font-optical-sizing;
  font-weight: $weight;
  font-style: normal;
}

.montserrat-thin {
  @include montserrat-font(100);
}

.montserrat-extralight {
  @include montserrat-font(200);
}

.montserrat-light {
  @include montserrat-font(300);
}

.montserrat-regular {
  @include montserrat-font(400);
}

.montserrat-medium {
  @include montserrat-font(500);
}

.montserrat-semibold {
  @include montserrat-font(600);
}

.montserrat-bold {
  @include montserrat-font(700);
}

.montserrat-extrabold {
  @include montserrat-font(800);
}

.montserrat-black {
  @include montserrat-font(900);
}

//desktop
@media (min-width: 700px) {
  /* navbar */

  /* section1 */

  .hero-section {
    position: relative;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.1)
      ),
      url("/assets/section1/hero.jpg") no-repeat center center/cover;
    height: 670px;
    color: white;
  }

  /* section2 */

  /* section3 */

  /* section4 */

  /* section5 */

  /* section6 */

  /* footer */
}

//mobile
@media (max-width: 700px) {
  /* navbar */

  /* section1 */

  /* section2 */

  /* section3 */

  /* section4 */

  /* section5 */
  #part4 {
    background-color: #252B42;
    color: white;
    padding: 10vh 0;
  }
  
  #part4 h1 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 142%;
  }
  
  #part4 p {
    width: 66%;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 143%;
    margin-bottom: 15%;
  }
  
  #free {
    background-color: white;
    color: black;
    width: 80%;
  }
  
  .custom-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
  }
  
  .custom-subtitle {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
  }
  
  .price {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #23A6F0;
  }
  
  .unit1 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #23A6F0;
  }
  
  .unit2 {
    font-weight: 600;
    font-size: 0.825rem;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #8EC2F2;
  }
  
  #conditions-box div {
    font-size: 0.825rem;
    line-height: 171%;
    letter-spacing: 0.2px;
  }
  /* section6 */

  /* footer */
}

@import "node_modules/bootstrap/scss/bootstrap";
